<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        td {
            padding-right: 1rem;
            padding-bottom: 1rem;
        }

        input {
            width: 100%;
        }
    </style>
</head>

<body class="container-fluid">
    <h2 class="mb-4">Tambah Mahasiswa</h2>

    <form th:object="${mahasiswa}" th:action="@{/add}" method="post">
        <table>
            <tr>
                <td><label for="nim">NIM</label></td>
                <td>
                    <div class="d-flex flex-column">
                        <span th:if="${#fields.hasErrors('nim')}" th:errors="*{nim}"></span>
                        <input type="number" id="nim" th:field="*{nim}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="nama">Nama</label></td>
                <td>
                    <div class="d-flex flex-column">
                        <span th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}"></span>
                        <input type="text" id="nama" th:field="*{nama}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="jurusan">Jurusan</label></td>
                <td>
                    <div class="d-flex flex-column">
                        <span th:if="${#fields.hasErrors('jurusan')}" th:errors="*{jurusan}"></span>
                        <input type="text" id="jurusan" th:field="*{jurusan}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="tanggalLahir">Tanggal Lahir</label></td>
                <td>
                    <div class="d-flex flex-column">
                        <span th:if="${#fields.hasErrors('tanggalLahir')}" th:errors="*{tanggalLahir}"></span>
                        <input type="date" id="tanggalLahir" th:field="*{tanggalLahir}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex justify-content-end align-items-center gap-2">
                        <a href="/" class="btn btn-warning">Kembali</a>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/checkValidation.js}"></script>
</body>

</html>